

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <title>alpo-tech</title>
</head>
<body>

<div class="scrool-smooth">
  <div class="content">
    <div>
      <h1>Contact</h1>

      <p> 
          You can reach out to me through    
      <a class="no-underline hoverable" href="https://www.linkedin.com/in/aleksei-ponyatov/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>  
          or 
      <a class="no-underline hoverable" href="https://x.com/Cash_LonnaCash/" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
          , as well as on my mail address at ponyatov94@gmail.com
     </p>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <span>Copyright © 2025 Alexey Ponyatov</span>
        <nav class="footer-nav">
            <a href="/" class="footer-link">Home</a>
            <span class="footer-divider">|</span>
            <a href="contact" class="footer-link">Contact</a>
        </nav>
    </div>
</footer>
</body>
</html>
