<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <title>AlPo</title>
</head>
<body>

<div class="scrool-smooth">
  <div class="content">
    <h1 class="title">Aleksey Ponyatov</h1>
    <h1 class="subtitle">Personal Website &amp; Blog</h1>
    <div>
      <h1>About me</h1>
      <p> 
            My name is Aleksey Ponyatov and I'm a software developer/DevOps engineer. I'm from Russia, living in Moscow and currently working at Sber. You can find me on 
      <a class="no-underline hoverable" href="https://github.com/alpo-tech" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      </p>
    </div>
  </div>
</div>

</body>
</html>
