<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <title>AlPo</title>
</head>
<body>

<div class="scrool-smooth">
  <div class="content">
    <h1 class="title">Aleksey Ponyatov</h1>
    <h1 class="subtitle">Personal Website &amp; Blog</h1>
    <div>
      <h1>About me</h1>
      <p> 
            My name is Aleksey Ponyatov and I'm a software developer/DevOps engineer. I'm from Russia, living in Moscow and currently working at Sber. You can find me on 
      <a class="no-underline hoverable" href="https://github.com/alpo-tech" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      </p>


      <h1>Reading</h1>
      <div class="carousel-container">
          <button class="prev" onclick="moveSlide(-1)">❮</button>
          <div class="carousel-track">
              <div class="carousel-item">
                  <img src="/static/images/golang.jpg" alt="Book 1">
              </div>
              <div class="carousel-item">
                  <img src="/static/images/c_lang.jpg" alt="Book 2">
              </div>
              <div class="carousel-item">
                  <img src="/static/images/docker.jpg" alt="Book 3">
              </div>
              <div class="carousel-item">
                  <img src="/static/images/book4.jpg" alt="Book 4">
              </div>
              <div class="carousel-item">
                  <img src="/static/images/golang.jpg" alt="Book 5">
              </div>
              <div class="carousel-item">
                  <img src="/static/images/c_lang.jpg" alt="Book 6">
              </div>
          </div>
          <button class="next" onclick="moveSlide(1)">❯</button>
      </div>

      <script>
          let currentIndex = 0;

          function moveSlide(direction) {
              const track = document.querySelector('.carousel-track');
              const items = document.querySelectorAll('.carousel-item');
              const totalItems = items.length;

              const visibleItems = 5; // Количество видимых книг
              currentIndex += direction;

              if (currentIndex < 0) {
                  currentIndex = totalItems - visibleItems;
              } else if (currentIndex > totalItems - visibleItems) {
                  currentIndex = 0;
              }

              track.style.transform = `translateX(-${currentIndex * (100 / visibleItems)}%)`;
          }
      </script>
    </div>
  </div>
</div>

</body>
</html>
