
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>alpo-tech</title>
</head>
<body>

<div class="scrool-smooth">
  <div class="content">
    <div>
      <h1>About my nvim configuration...</h1>
      <a class="no-underline hoverable article" href="https://habr.com/ru/articles/889316/" > About my nvim configuration on habr.com</a><br>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <span>Copyright © 2025 Alexey Ponyatov</span>
        <nav class="footer-nav">
            <a href="/" class="footer-link">Home</a>
            <span class="footer-divider">|</span>
            <a href="contact" class="footer-link">Contact</a>
        </nav>
    </div>
</footer>
</body>
</html>

