
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>alpo-tech</title>
</head>
<body>

<div class="scrool-smooth">
  <div class="content">
    <div>
      <h1>About my nvim configuration...</h1>
      <p> 
        My name is Aleksey Ponyatov and I'm a software developer/DevOps engineer. I'm from Russia, living in Moscow and currently working at Sber. You can find me on 
      </p>
  </div>
</div>

</body>

<!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <span>Copyright © 2024 Alexey Ponyatov</span>
        <nav class="footer-nav">
            <a href="#" class="footer-link">Home</a>
            <span class="footer-divider">|</span>
            <a href="#" class="footer-link">Contact</a>
        </nav>
    </div>
</footer>
</html>
