body {
    -webkit-font-smoothing: antialiased;
    background-color: #1d1f21;
    flex: 1;
    font-display: swap;
    font-family: Oxygen, monospace;
    font-size: 14px;
    font-weight: 500;
    height: 100%;
    line-height: 1.725;
    margin: 0 auto;
    max-width: 72rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-rendering: geometricPrecision;
}

.title {
  color: #2bbc8a;
}

.subtitle {
  color: #666;
  font-size: 1.2em;
  margin-bottom: -4px;
  margin-top: -4px;
}

.content {
    color: #c9cacc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-wrap: break-word;
    padding-bottom: 4rem;
    padding-top: 4rem;
    position: relative;
    font-weight: 700;
    font-stretch: expanded; /* Вытянуть шрифт */
}

.link {
  color: #c9cacc;
  text-decoration: none;
}

h1, h2 {
    color: #2bbc8a; 
}

.no-underline {
    text-decoration: none; /* убирает подчеркивание ссылки */
}

.fa-github::before {
    content: '\f09b'; /* код для иконки github в шрифте fontawesome (если используется) */
    font-family: 'fontawesome'; /* указываем, что используем fontawesome */
    color: #c9cacc; /* цвет иконки, можно заменить на любой */
    font-size: 200% !important;
    width: 1em;
    vertical-align: middle;
}

.no-underline:hover .fa-github::before {
    color: #e35f77; /* Цвет при наведении */
}




.carousel-container {
    width: 80%; /* Размер контейнера для карусели */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 20%; /* 100% / 5, чтобы отображалось 5 книг */
    box-sizing: border-box;
    padding: 15px; /* Отступы между книгами */
}


.carousel-item img {
    width: 100%;
    height: 250px; /* Задаем фиксированную высоту */
    object-fit: cover; /* Масштабируем изображение, сохраняя пропорции */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #2bbc8a;
    border: none;
    cursor: pointer;
    padding: -50px;
    z-index: 1;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}



