body {
  background-color: #1d1f21;
  color: #2bbc8a;
  font-family: Arial, sans-serif;
}

.title {
  color: #2bbc8a;
}

.subtitle {
  color: #666;
  font-size: 1.2em;
  margin-bottom: -4px;
  margin-top: -4px;
}

.link {
  color: #c9cacc;
  text-decoration: none;
}
